@import 'bootstrap.css';
/* @import 'styles.css'; */

@font-face {
  font-family: 'Calibre-Regular';
  src: url('Calibre-Regular.eot') format('embedded-opentype'), /* IE6-IE8 */
     url('Calibre-Regular.woff') format('woff'), /* Pretty Modern Browsers */
     url('Calibre-Regular.ttf')  format('truetype'); /* Safari, Android, iOS */
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'Calibre-Medium';
  src: url('Calibre-Medium.eot') format('embedded-opentype'), /* IE6-IE8 */
     url('Calibre-Medium.woff') format('woff'), /* Pretty Modern Browsers */
     url('Calibre-Medium.ttf')  format('truetype'); /* Safari, Android, iOS */
  font-weight: normal;
  font-style: normal;
}

html, body, main, #root {
  height: 100%;
}

body {
  /* background: rgb(244, 247, 247); */
  background-color: #f1f1f2;
  margin: 0;
}

#root {
  font-family: 'Calibre-Regular', sans-serif;
  /* font: 600 16px 'Merriweather Sans', sans-serif; */
  /* overflow-x: hidden; */
  overflow-y: inherit;
}

.app {
  display: flex;
  flex-flow: column;
  min-height: 100%;
}

.container {
  height: 100%;
  vertical-align: baseline;
  display: block;
  position: relative;
  margin: 0;
  padding: 0;
  border: 0;
}

.page-container {
  height: 100%;
}

.tabs-container {
  width: 100%;
  /* background-color: white; */
  color: black;
}

.form-container {
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 15px 15px 15px 15px;
  /* justify-content: center; */
}

.form-title {
  margin-bottom: 15px;
}

.p-header {
  color: rgb(68, 152, 229);
}

.p-footer {
  float: right;
  margin-right: 15px;
}

.control-label {
  margin-top: 5px;
}

.hero-container {
  display: flex;
  width: 100%;
  height: 528px;
  background-color: black;
  text-align: center;
  vertical-align: center;
}

.hero-image-large {
  background-position: center;
  background-repeat: no-repeat;
  width: 100%;
  background: url("./_res/images/food_photography_palm_beach_gardens_florida_parched_pig.jpg") no-repeat;
  /* background-image: url("https://cf.ua/image?src=/m/blog/b5c556dd9023dbeeee7268ef6744b37b/images/32/57553d76dc12d_compressed20161005.jpg&width=1150"); */
}

.login-page {
  display: flex;
  flex-direction: column;
  align-items: center;
}

/** Sticky **/

.sticky-header {
  background-color: #f1f1f2;
  border-bottom: 1px solid #d0d2d3;
  border-top: 2px solid #f1f1f2;
  color: #101820;
  display: flex;
  flex-direction: row;
  font-size: 16px;
  height: 75px;
  text-align: center;
  transition: background-color 0.4s ease;
  transition: color 0.4s ease;
  vertical-align: middle;
  width: 100%;
  z-index: 100;
}

/* .stick-header {
  position: fixed;
  top: 70px;
  order: -1;
  transform: translate3d(0,0,0);
} */

.sticky-header-title {
  /* height: 100%; */
  font-size: 15px;
  letter-spacing: .086em;
  text-transform: uppercase;
  width: 170px;
  margin: 22px 0 16px 40px;
}

.header-button {
  background-color: white;
  border: 1px solid #101820;
  border-radius: 0;
  font-size: 13px;
  height: 32px;
  letter-spacing: .061em;
  margin: 20px 0 16px 40px;
  padding: 0;
  text-align: center;
  text-transform: uppercase;
  vertical-align: middle;
  width: 280px;
  transition: background-color .3s;
}

.header-button:hover {
  background: #eee;
  color: white;
  background-color: black;
}

.active-header-button {
  background: #eee;
  color: white;
  background-color: black;
}

.sticky-header-dropdown {
  margin: 20px 0 16px 40px;
  font-size: 16px;
  width: 280px;
  border: 1px solid #101820;
  background-color: white;
  border-radius: 0;
  height: 32px;
  padding: 0;
  text-align: left;
}

.sticky-header-dropdown-title {
  line-height: 28px;
  margin-left: 16px;
  color: #101820;
  font-size: 13px;
  text-transform: uppercase;
  letter-spacing: .061em;
  vertical-align: middle;
}

.sticky-header-dropdown-value {
  margin-right: 24px;
  color: #101820;
  font-size: 13px; /* 'Calibre-Medium' */
  font-family: "Calibre-Medium";
  letter-spacing: .033em;
}

.dropdown-expand-icon {
  float: right;
  height: 20px;
  margin-left: 16px;
  margin-right: 10px;
  margin-top: 3px;
  width: 20px;
}

.sticky-sidebar-toggle {
  height: 100%;
  width: 245px;
  padding: 20px 30px 20px 30px;
  font-size: 15px;
  letter-spacing: .086em;
  text-transform: uppercase;
  border-right: 1px solid #d0d2d3;
  background-color: #f1f1f2;
  border-top: 2px solid #f1f1f2;
  transition: background-color .3s;
}

.sticky-sidebar-toggle:hover {
  background: #eee;
  color: white;
  background-color: black;
}

.stick-sidebar-header {
  position: fixed;
  top: 145px;
  order: -1;
  transform: translate3d(0,0,0);
}

/* .sidebar-title {
  background-color: white;
  border-top: 2px solid #f1f1f2;
  color: #101820;
  width: 100%;
  height: 75px;
  font-size: 16px;
  text-align: center;
  vertical-align: middle;
  padding: 20px 30px 20px 30px;
  transition: background-color 0.3s ease;
  transition: color 0.3s ease;
  z-index: 100;
} */



/* .sticky-content {
  padding-top: 68px;
} */


/** Alert **/

.alert-container__inner {
  /* @include transition(all, 0.5s); */
  position: fixed;
  opacity: 1;
  cursor: pointer;
  pointer-events: auto;
  width: 400px;
  margin: 0 auto;
  left: 0;
  right: 0;
  top: -100px;
  padding: 4px;
  z-index: 1000;
  box-shadow: 0px 4px 17px 0px rgba(0,0,0,0.35);
  p {
    color: #fff;
    /* font-family: ProximaNova-SemiBold; */
    position: relative;
    margin-left: 20px;
  }
  /* @media screen and (max-width: 400px) {
    width: 300px;
  }
  @media screen and (max-width: 350px) {
    width: 280px;
  } */
}

.hide-alert {
  animation: hideAlert normal forwards ease-in-out;
  animation-duration: 0.35s;
}

.alert-success {
  background: rgb(178, 208, 178);
  p {
    &:before {
      content: '';
      position: absolute;
      /* background: url("../images/icon-white-check.png") no-repeat; */
      background-size: 20px;
      width: 20px;
      height: 30px;
      top: 2px;
      left: -25px;
    }
  }
}

.alert-fail {
  background: rgb(240, 116, 101);
  p {
    &:before {
      content: '';
      position: absolute;
      /* background: url("../images/error-icon.png") no-repeat; */
      background-size: 20px;
      width: 20px;
      height: 30px;
      top: 2px;
      left: -25px;
    }
  }
}

.alert-info {
  background: rgb(213, 233, 92);
  p {
    color: #fff;
    &:before {
      content: '';
      position: absolute;
      /* background: url("../images/info-icon.png") no-repeat; */
      background-size: 20px;
      width: 20px;
      height: 30px;
      top: 2px;
      left: -25px;
    }
  }
}

/** Modals **/

.modal-form-container {
  width: 100%;
  height: 100vh;
  position: fixed;
  z-index: 100;
  opacity: 1;
  overflow-y: auto;
  overflow-x: hidden;
  top: 50px;
  -webkit-animation-name: animatetop;
  -webkit-animation-duration: 0.4s;
  animation-name: animatetop;
  animation-duration: 0.4s;
  /* @include transition(opacity, 0.5s)
  @include flex-center-horizontal-vertical;
  @media screen and (max-width: $screen-size-m) {
    display: block;
    padding: 30px 10px 30px 5px;
    margin-bottom: 30px;
  } */
}

.modal-screen {
  background: rgb(127, 180, 121);
  opacity: 0.4;
  position: fixed;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  z-index: -2;
}

.modal-inner-container {
  /* background: #fcfcfc; */
  background-color: #f1f1f2;
  border: 1px solid #101820;
  border-radius: 3px;

  height: 700px;
  width: 1300px;
  position: relative;
  -webkit-box-shadow: 0px 8px 24px -3px rgba(0,0,0,0.3);
  -moz-box-shadow: 0px 8px 24px -3px rgba(0,0,0,0.3);
  box-shadow: 0px 8px 24px -3px rgba(0,0,0,0.3);
  /* @media screen and (max-width: $screen-size-m) {
    margin: 0;
    margin-bottom: 60px;
  } */
}

/* .modal-form-container__inner > h1 {
  text-align: center;
  padding-top: 30px;
} */

.modal-section {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  text-align: center;
  width: 100%;
}

.modal-inner-container .close {
  width: 20px;
  position: absolute;
  right: 20px;
  top: 15px;
  cursor: pointer;
  opacity: .8;
}

@-webkit-keyframes animatetop {
    from {top:-300px; opacity:0}
    to {top:0; opacity:1}
}

@keyframes animatetop {
    from {top:-300px; opacity:0}
    to {top:0; opacity:1}
}

/** Header **/

.main-nav {
  position: fixed;
  display: flex;
  order: -2;
  align-items: center;
  justify-content: center;
  width: 100%;
  height: 70px;
  border-bottom: 1px solid #d0d2d3;
  z-index: 100;
  background-color: white;
}

.main-nav ul {
  list-style: none;
  display: flex;
  width: 100%;
}

.main-nav li {
  width: 200px;
}

.nav-links {
  padding-right: 40px;
  font-size: 15px;
  color: #656666;
  text-transform: uppercase;
  text-decoration: none;
  letter-spacing: 0.086em;
}

.main-nav--user {
  /* color: #fcfcfc; */
  /* color: #656666;
  border: 1px solid #d0d2d3; */
  /* background: url("./_res/images/ic_person_outline_white_24px.svg") no-repeat; */
  padding-left: 30px;
  margin-right: 90px;
  height: 30px;
  cursor: pointer;
}

.main-nav--user--dropdown {
  position: absolute;
  z-index: 5;
  top: 60px;
  right: 17px;
  width: 250px;
  background: rgb(255, 255, 255);
  display: flex;
  flex-direction: column;
  border-radius: 4px;
  border-width: 1px;
  border-style: solid;
  border-color: rgb(218, 225, 233);
}

.main-nav--user--dropdown__profile {
  position: relative;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.main-nav--user--dropdown__profile--name {
  padding: 40px 20px 5px 20px;
}

.main-nav--user--dropdown__profile--email {
  font: 100 12px 'Merriweather Sans', sans-serif;
  padding-bottom: 10px;
}

.main-nav--user--dropdown__separator {
  border-top: 1px solid rgb(218, 225, 233);
}

.main-nav--user--dropdown > a {
  padding: 15px;
}

/** Sidebar **/

.sidebar {
  /* display: flex;
  flex-direction: row; */
  align-items: flex-start;
  background-color: white;
  /* border-top: 2px solid #f1f1f2; */
  cursor: pointer;
  display: flex;
  flex-direction: column;
  font-size: 15px;
  height: 100%;
  width: 245px;
  /* height: 200px; */
  /* justify-content: space-between; */
  letter-spacing: .086em;
  position: absolute;
  text-transform: uppercase;
  white-space: nowrap;
  cursor: default;
  transition: display .3s;
}

.hide-sidebar {
  display: none;
}

.sidebar-content {
  border-top: 2px solid #f1f1f2;
  height: 100%;
  width: 100%;
  display: flex;
  flex-direction: row;
}

.sidebar-item {
  transition: background-color 0.5s ease;
  padding: 8px 0 8px 20px;
  color: #101820;
  margin: 5px 0 5px 0;
}

.sidebar-item:hover {
  background: #eee;
}

.sidebar-item-title {
  padding-left: 3px;
  font-size: 15px;   /* Calibre-Regular */
  color: #101820;
  letter-spacing: .086em;
  margin-bottom: 2px;
  text-transform: uppercase;
  width: 100%;
}

.sidebar-item-details {
  padding-left: 7px;
  color: #656666;
  font-size: 13px; /* Calibre-Regular */
  line-height: .85;
  letter-spacing: 0.033em;
  margin-bottom: 3px;
  margin-top: 2px;
  text-transform: none;
}

/** Home Page **/

.home-page {
  min-height: 100%;
  position: relative;
}

.home-page-entity-container {
  margin-left: 20px;
  width: 100%;
  min-height: 100%;
}

.entity-panel {
  width: 600px;
  height: 100px;
  background: #fcfcfc;
  border: 1px solid #101820;
  border-radius: 3px;
  margin-bottom: 10px;
  padding: 10px 30px 20px 30px;
  text-align: center;
  vertical-align: middle;
}

.bold-attribute {
  color: #101820;
  font-size: 14px; /** 'Calibre-Medium'; **/
  font-family: "Calibre-Medium";
  letter-spacing: .061em;
  text-transform: uppercase;
  margin-left: 4px;
}

.bold-value {
  color: #b70038;
  font-size: 14px; /** 'Calibre-Medium'; **/
  font-family: "Calibre-Medium";
  letter-spacing: .061em;
  text-transform: uppercase;
}

/** Friends Manager **/

.friends-manager-container {
  /* border-top: 2px solid #f1f1f2; */
  display: flex;
  flex-direction: row;
  height: 100%;
  width: 100%;
}

.friends-manager--content {
  background-color: white;
  display: flex;
  flex-direction: column;
  height: 100%;
  overflow-y: auto;
  padding-top: 15px;
  width: 100%;
}

.friends-manager--content--search {
  padding-left: 20px;
  width: 100%;
}

.friends-manager--content--text-input {
  margin-top: 10px;
  font-size: 16px;
  padding: 7px 10px;
}

.friends-manager--content--suggestions {
  display: flex;
  flex-direction: column;
}

/* .friends-manager--clicker {
  position: relative;
  float: right;
  height: 100%;
  width: 45px;
  border-right: 2px solid #f1f1f2;
  cursor: pointer;
} */

/* .friends-manager--icon {
  width: 100%;
  height: 50px;
  margin-top: 40px;
  background: url("./_res/images/icons8-friends-48.png") no-repeat;
} */

/** Social **/

.social-container {
  height: 100%;
  width: 100%;
  display: flex;
  flex-direction: row;
  flex: 1;
  padding: 10px 30px 30px 30px;
  background: #eee;
  box-shadow: 0 0 5px rgba(0,0,0,1);
  /* transform: translate3d(0px,0,0); */
  /* transition: transform .3s; */
  transition: margin-left .3s;
}

.map {
  transition: margin-left .3s;
}

.show-sidebar {
  /* transform: translate3d(245px,0,0); */
  margin-left: 245px;
}

.compose-social-entry-btn {
  height: 60px;
  width: 60px;
  cursor: pointer;
  margin: 0 0 0 40px;
  padding: 12px;
  border-width: 3px;
  border-style: solid;
  border-color: rgb(144,144,144);
  border-radius: 10px;
  /* background: url("./_res/images/icons8-quill-with-ink-48.png") no-repeat; */
  background: url("./_res/images/icons8-idea-bank-48.png") no-repeat;
  background-size: contain;
}

.compose-social-entry-btn:hover {
  border-width: 3px;
  border-style: solid;
  /* border-color: rgb(75, 173, 2); */
  border-color: lightgoldenrodyellow;
  border-radius: 10px;
}

.social-entry-form {
  display: flex;
  flex-direction: column;
  padding: 0 50px 15px 15px;
}

.social-entry-form-header {
  text-align: center;
  height: 70px;
  line-height: 70px;
  width: 25%;
  display: block;
  border-bottom: 1px solid black;
  margin-bottom: 5px;
}

.social-entry-form-textarea {
  width: 100%;
  max-width: 100%;
  border: 1px solid #3d4853;
  border-radius: 4px;
  font-size: 16px;
  padding: 7px 10px;
  margin: 5px 10px 0 0;
}

/* .social-entry-form__submit--container {
  display: flex;
  align-items: center;
  justify-content: center;
} */

/* .social-entry-form__submit--button {
  width: 60px;
  margin: 15px;
  padding: 5px;
  border-width: 3px;
  border-style: solid;
  border-color: blue;
  border-radius: 10px;
}

.social-entry-form__submit--button:hover {
  border-color: rgb(75, 173, 2);
} */

/** Newsfeed **/

.newsfeed {
  /* list-style: none; */
  margin: 0;
  padding: 0;
  width: 800px;
  word-wrap: normal;
  order: -1;
  display: flex;
  flex-direction: column;
}

.newsfeed-p {
  display: block;
}

.newsfeed-content {
  display: inline;
}

.social-entry-text {
  display: inline;
}

.newsfeed-item-container {
  background: #fcfcfc;
  padding: 20px 30px 20px 30px;
  border: 1px solid rgb(218, 225, 233);
  border-radius: 3px;
  margin: 0 4px 10px 4px;
}

.newsfeed-item-container:hover {
  border-width: 1px;
  border-style: solid;
  border-color: rgb(75, 173, 2);
  border-radius: 4px;
}

.newsfeed-item {
  display: flex;
  flex-direction: column;
}

.item-header {
  transition: border-bottom 0.2s ease-in-out;
  color: #101820;
  font-size: 22px;
  letter-spacing: 0.086em;
  text-transform: uppercase;
}

.newsfeed-item-header {
  border-bottom: 1px solid transparent;
}

.newsfeed-item-header:hover {
  border-bottom: 1px solid black;
  transition: border-bottom 0.2s ease-in-out;
}

.item-sub-header {
  color: #656666;
  font-size: 15px;
  letter-spacing: .013em;
  margin-bottom: 2px;
}

.item-sub-header-component {
  color: #656666;
  font-size: 15px;
  letter-spacing: .013em;
}

.rating {
  color: #101820;
  display: flex;
  flex-direction: column;
  font-size: 14px; /*'Calibre-Medium'*/
  font-family: "Calibre-Medium";
  letter-spacing: .061em;
  text-transform: uppercase;
}

.rating-inner-container {
  display: flex;
  flex-direction: row;
}

.rating-sub-header {
  line-height: 1.1;
  color: #656666;
  font-size: 15px;
  letter-spacing: .013em;
}

.rating-component {
  color: #101820;
  font: 14px; /*'Calibre-Medium'*/
  font-family: "Calibre-Medium";
  letter-spacing: .061em;
  text-transform: uppercase;
  margin: 0px 6px 0px 0px;
}

/** Google Maps **/

.gm-style-iw {
  border-radius: 5px;
}

.gm-info-window-header {
  border-bottom: 1px solid transparent;
  transition: border-bottom 0.2s ease-in-out;
  color: #101820;
  font-size: 22px;
  letter-spacing: 0.086em;
  text-transform: uppercase;
}

.gm-info-window-header:hover {
  border-bottom: 1px solid black;
  transition: border-bottom 0.2s ease-in-out;
}

.gm-info-window-sub-header {
  color: #656666;
  font-size: 15px;
  letter-spacing: .013em;
  margin-bottom: 3px;
  margin-top: 2px;
}

/** Tags **/

.social-entry-visible {
  overflow: hidden;
}

.social-entry-form-rating-container {
  display: flex;
  flex-direction: row;
}

.tags-container {
  background: #fcfcfc;
  border: 2px solid #101820;
  width: 100%;
  display: flex;
  flex-direction: row;
  margin: 10px 0 10px 0;
  padding: 5px 0px 3px 0px;
  align-items: center;
  justify-content: center;
}

.tags-list {
  text-align: center;
  margin-right: 10px;
}

.tags-list-header {
  font-family: 'Calibre-Medium';
  border-bottom: 1px solid #101820;
  margin-bottom: 5px;
}

.tags-inner-container {
  width: 100%;
  display: flex;
  flex-direction: row;
  text-align: center;
  align-items: center;
  justify-content: center;
}

[class^="social-entry-tag"] {
  font-family: 'Calibre-Medium';
  height: 20px;
  display: inline;
  border: 1px solid #101820;
  border-radius: 3px;
  color: black;
  padding: 2px 2px 1px 2px;
  margin: 0 3px 0 3px;
  vertical-align: center;
}

.social-entry-tag__food {
  background-color: rgb(79, 229, 211);
}

.social-entry-tag__entity {
  background-color: rgb(147, 218, 246);
}

.social-entry-tag__foodratingtype {
  background-color: rgb(240, 237, 86);
}

.social-entry-tag__foodratingmetric {
  background-color: rgb(242, 119, 0);
}

.social-entry-tag__user {
  background-color: black;
  color: white;
}

.social-entry-form__suggestions-container {
  display: flex;
  flex-direction: row;
  background: #fcfcfc;
  border: 1px solid #101820;
}

.social-entry-form__suggestions {
  width: 100%;
  display: flex;
  flex-direction: column;
}

.social-entry-form__suggestions-children {
  width: 100%;
  display: flex;
  flex-direction: column;
}

.form__suggestions__item--main-description {
  height: 40px;
  margin: 5px 5px 0 10px;
  line-height: 1;
  overflow-y: scroll;
}

[class^="social-entry-form__suggestions__item"] {
  cursor: pointer;
  height: 45px;
  font-size: 17px;
  overflow-y: scroll;
  display: flex;
  flex-direction: row;
  align-items: center;

  margin: 5px 0 5px 0;
  border: 1px solid rgb(147, 218, 246);
  border-radius: 7px;
  background-color: rgb(147, 218, 246);
  margin-left: 6px;
  margin-right: 6px;
  padding: 13px;
}

.suggestions__item-container {
  padding-top: 2px;
  padding-bottom: 2px;
}

.active-suggestion {
  background-color: rgb(246, 235, 34);
}

[class^="social-entry-form__suggestions__shortitem"] {
  cursor: pointer;
  height: 45px;
  font-size: 17px;
  width: 80%;
  overflow-y: scroll;
  display: flex;
  flex-direction: row;
  align-items: center;
  margin: 5px 0 5px 0;
  border: 1px solid rgb(147, 218, 246);
  border-radius: 7px;
  background-color: rgb(147, 218, 246);
  margin-left: 40px;
  margin-right: 6px;
  padding: 2px 5px 2px 5px;
}

[class^="social-entry-form__suggestions__icon"] {
  display: block;
  padding-right: 10px;
  width: 45px;
  height: 45px;
  z-index: 2;
  float: left;
}

/* [class^="social-entry-form__suggestions__item"]:hover {
  border-width: 1px;
  border-style: solid;
  border-color: rgb(75, 173, 2);
  border-radius: 7px;
} */

.selected {
  border-width: 1px;
  border-style: solid;
  border-color: rgb(75, 173, 2);
  border-radius: 7px;
}

/** Category Specific Tags **/

.social-entry-form__suggestions__item--food {
  background-color: rgb(79, 229, 211);
}
.social-entry-form__suggestions__icon--food {
  background: url("./_res/images/icons8-hamburger-48.png") no-repeat;
  background-size: contain;
}

.social-entry-form__suggestions__item--foodratingtype {
  background-color: rgb(240, 237, 86);
}
.social-entry-form__suggestions__icon--foodratingtype {
  background: url("./_res/images/icons8-trophy-48.png") no-repeat;
  background-size: contain;
}

.social-entry-form__suggestions__item--entity {
  background-color: rgb(147, 218, 246);
}
.social-entry-form__suggestions__icon--entity {
  background: url("./_res/images/icons8-meal-48.png") no-repeat;
  background-size: contain;
}

.social-entry-form__suggestions__item--user {
  background-color: rgb(255,255,255);
}
.social-entry-form__suggestions__icon--user {
  background: url("./_res/images/icons8-street-view-48.png") no-repeat;
  background-size: contain;
}


/* Ratings */

/* .rating-component-badges {
  display: flex;
  flex-direction: column;
}

.badge-container {
  margin-top: 2px;
} */

/** Hierarchies Manager **/

.hierarchies-manager-page {
  min-height: 100vh;
  background-color: white;
}

.hierarchies-manager-container {
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  flex: 1;
  /* padding: 30px; */
  background: #eee;
  box-shadow: 0 0 5px rgba(0,0,0,1);
  transform: translate3d(0px,0,0);
  transition: transform .3s;
}

.taggable-mgr-header {
  margin-top: 70px;
}

.hierarchies-manager-container > div {
  display: flex;
  flex-direction: column;
}

.hierarchies-manager-button {
  margin: 10px 0 0 5px;
  display: flex;
  flex-direction: row;
  width: 50%;
}

.show-tag-editor {
  transform: translate3d(245px,0,0);
}

/** Tag Editor **/

.tag-editor-container {
  padding: 10px 5px 0px 15px;
  position: absolute;
  width: 245px;
  height: 100vh;
  display: flex;
  flex-direction: row;
  background-color: white;
}
